{% load static %}
<html>
<head>
<title>Automating E-Government Services with Artificial Intelligence</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Automating E-Government Services with Artificial Intelligence</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
         
           <ul>
      <li><a href="{% url 'index' %}"><font size="3" color="black">Home</a></li>
       <li><a href="{% url 'AdminLogin' %}"><font size="3" color="black">Admin Login</a></li>
      <li><a href="{% url 'HospitalLogin' %}"><font size="3" color="black">Hospital Login</a></li>
	  <li><a href="{% url 'RevenueLogin' %}"><font size="3" color="black">Revenue Department Login</a></li>
<li><a href="{% url 'UserLogin' %}"><font size="3" color="black">User Login</a></li>
<li><a href="{% url 'Signup' %}"><font size="3" color="black">Register Here</a></li>
   </ul>
         
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>

		{{ data }}

       <p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">Automating E-Government Services with Artificial Intelligence
</p>
 
 
  </body>
</html>
